$header-color:#FFF;
$title-color: #000;
$text-color: #565656;
$background_color: #F4F4F4;
$date-color: #7B7B7B;
$color-svg: #454545;
$secondary_color:rgba(0, 76, 255, 0.536);

@import 'fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button {
    transition: all .2s ease;
}

.lato {
    font-family: 'Lato', sans-serif;
}
.red-hat-display {
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}
body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 166%;
    color: $text-color;
}
.page_wrapper {
    min-height: 100vh;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    background-color: rgba($header-color, 0.7);
    backdrop-filter: blur(4px);
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .header_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 70px;//TODO fix with perfect-picsel
    }
}
.header_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 42px;
    a {
        display: inline-block;
        position: relative;
        color: $title-color;
        @extend .lato;
        font-size: 0.875rem;
        letter-spacing: 0.2625rem;
        text-transform: uppercase;
        text-decoration: none;
        &::after {
            content: '';
            display: inline-block;
            width: 0;
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 1px;
            background-color: $title-color;
            transition: all 0.2s ease;
            transform: translateX(-50%);
        }
        &:hover::after {
            width: calc(100% - 16px);
        }
    } 
}
.search_btn {
    display: inline-flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;

    svg {
        fill: $color-svg;
    }
    &:hover svg {
        fill: $title-color;
    }
}

main {
    flex-grow: 1;
    padding-top: 100px;
}
footer {
    background-color: $background_color;
    height: 300px;
    padding-top: 70px;
}
.logo {
    max-width: 142px;
    height: 12px;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        display: flex;
        gap: 42px;
    }
}
.hero-section {
    aspect-ratio: 144/60;
    background-color: #CEE8E9;
    background-image: url('../images/bg-image-xl.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;
}
h1  {
    padding-top: 135px;
    font-size: 3rem;
    max-width: 770px;
    color: $title-color;
    @extend .red-hat-display;
    line-height: 4rem;
    letter-spacing: 0.15rem;
}
h3 {
    color: $title-color;
    @extend .red-hat-display;
    font-size: 1.75rem;
    line-height: 166%;
    letter-spacing: 0.175rem;
}

.blog {
    margin-bottom: 90px;
    h2 {
        margin-bottom: 50px;
        color: $title-color;
        @extend .red-hat-display;
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 0.15rem;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &-item {
        display: flex;
        gap: 30px;
    }
    &-pic {
        aspect-ratio: 57/47;
    }
    &-item:nth-child(1) {
        display: flex;
        flex-direction: row-reverse;
    }
    &-content {
        .blog-tags {
            color: $date-color;
            @extend .lato;
            font-size: 1rem;
            line-height: 166%; 
            letter-spacing: 0.1rem;
            margin-bottom: 30px;
        }
        .blog-title {
            margin-bottom: 15px;
            a {
                color: $title-color;
                @extend .red-hat-display;
                font-size: 1.4375rem;
                line-height: 166%;
                letter-spacing: 0.14375rem;
                text-decoration: none;
            }
        }
        .blog-date {
            margin-bottom: 50px;
            time {
                color: $date-color;
                @extend .lato;
                font-size: 1rem;
                line-height: 166%;
                letter-spacing: 0.1rem;
            }
        }
        .blog_descr {
            max-width: 448px;
            p {
                color: $text-color;
                @extend .lato;
                font-size: 1rem;
                line-height: 166%; 
                letter-spacing: 0.05rem;
            }
        }
    }
}
.latest {
    margin-bottom: 90px;
    .title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        a {
            color: $date-color;
            @extend .lato;
            font-size: 1rem;
            line-height: 166%; 
            letter-spacing: 0.1rem;
            text-decoration: none;
        }
    }
    &-list {
        display: flex;
        align-items: center;
        gap: 30px;
        li {
            width: 33%;
        }
    }
    &-item {
        .blog-pic {
            margin-bottom: 25px;

        }
    }
    .blog-content {
        .latest-tags-date {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }
    }
    .latest-title {
        margin-bottom: 20px;
        a {
            color: $title-color;
            @extend .red-hat-display;
            font-size: 1.375rem;
            line-height: 166%;
            letter-spacing: 0.1375rem;
            text-decoration: none;
        }
    }    
}

.most-popular {
    display: flex;
    gap: 30px;
    .latest-list {
        margin-bottom: 54px;
        li {
            width: 50%;
        }
        .blog-pic {
            aspect-ratio: 57/26;
        }
    }

    .more-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
            color: $header-color;
            background: $text-color;
            @extend .lato;
            width: 180px;
            height: 46px;
            font-size: 1rem;
            line-height: 166%;
            letter-spacing: 0.1rem;
            cursor: pointer;
            &:hover {
                filter: invert(1);
            }
        }
    }
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    &-left {
        max-width: 470px; 
        a {
            color: $title-color;
            @extend .red-hat-display;
            font-size: 1.4375rem;
            line-height: 166%; 
            letter-spacing: 0.14375rem;
            text-decoration: none;
        }
    }
    &-right {
       max-width: 470px; 
       p {
        color: $text-color;
        @extend .lato;
        font-size: 1.1875rem;
        line-height: 2rem; 
        letter-spacing: 0.05938rem;
       }
       p + p {
        margin-top: 30px;
       }
    }
}


.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    .footer_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        h2 {
            color: $title-color;
            @extend .red-hat-display;
            font-size: 3rem;
            line-height: 4rem; 
            letter-spacing: 0.15rem;
        }
    }
}
.footer_nav{
    display: flex;
    gap: 23px;
    a {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $text-color;
    }
}   

.copiright {
    text-align: center;
    font-size: 0.75rem;
    line-height: 166%; 
    letter-spacing: 0.075rem;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5px;
    a {
        text-decoration: none;
        color:$title-color;
        @extend .lato;
        font-size: 1rem;
        line-height: 166%; 
        letter-spacing: 0.1rem;
    }
    a:hover {
        color: $secondary_color;
    }
}
.footer_wrap {
    .footer_nav {
        a {
            background-color: $background_color;
            svg path {
                fill: #565656;
            }
            &:hover {
                background-color: $text-color;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .hero-section {
        background-image: url('../images/bg-image-d.jpg');
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin: 0 auto;
    }

    .hero-section {
        background-image: url('../images/bg-image-t.jpg');
        aspect-ratio: 768/320;
    }
    .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        .footer_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 21px;
        }
    }
    .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 48px;
    }
    footer {
        background-color: $background_color;
        height: 410px;
        padding-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    .hero-section {
        aspect-ratio: 32/50;
        background-image: url('../images/bg-image-m.jpg');
    }
}