*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  padding: 20px 40px;
}

a {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: bold;
  padding: 20px 40px 0;
}