$title-color: #000;
$text-color: #565656;
$background_color: #F4F4F4;
$secondary_color:rgba(0, 76, 255, 0.536);

@import 'fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button {
    transition: all .2s ease;
}
.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}
body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    padding-top: 38px;
    .header_top {
        color: $title-color;
        @extend .lato;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 8px;
    }
}
main {
    flex-grow: 1;
}
footer {
    background-color: $background_color;
    height: 300px;
    padding-top: 70px;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.red-hat-display {
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    margin-top: 100px;
    color: $title-color;
    @extend .red-hat-display;
    font-size: 48px;
    line-height: 64px; 
    letter-spacing: 2.4px;
    margin-bottom: 56px;
}

h2{
    color: $title-color;
    @extend .red-hat-display;
    font-size: 47px;
    line-height: 64px; 
    letter-spacing: 2.4px;
}

h3 {
    color: $title-color;
    @extend .red-hat-display;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 2.8px;
    margin-bottom: 43px;
}
p {
    color: $text-color;
    @extend .lato;
    font-size: 19px;
    line-height: 32px; 
    letter-spacing: 1.1px;
}

.pic_wrap {
    width: min(100%, 1170px);
    margin-bottom: 20px;
}

.main_chapter,
.first_chapter,
.second_chapter,
.third_chapter,
.fouth_chapter {
    margin-bottom: 90px;
}

.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    .footer_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
    }
}
.footer_nav{
    display: flex;
    gap: 23px;
    a {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $text-color;
    }
}   

.copiright {
    text-align: center;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 1.2px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5px;
    a {
        text-decoration: none;
        color:$title-color;
        @extend .lato;
        font-size: 16px;
        line-height: 166%; 
        letter-spacing: 1.6px;
    }
    a:hover {
        color: $secondary_color;
    }
}
.footer_wrap {
    .footer_nav {
        a {
            background-color: $background_color;
            svg path {
                fill: #565656;
            }
            &:hover {
                background-color: $text-color;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
}
.first_chapter {
    max-width: 570px;
    p + p {
        margin-top: 30px;
    }
}
.second_chapter {
    p + p {
        margin-top: 30px;
    }
}
.third_chapter {
    p + p {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: max(90%, 700px);
        margin: 0 auto;
    }
    header {
        height: 60px;
        padding-top: 18px;
        height: 1px;
    }
    h1 {
        font-size: 33px;
        line-height: 50px; 
        letter-spacing: 1.65px;
        margin-top: 110px;
        margin-bottom: 40px;
    }
    .first_chapter {
        max-width: 700px;
        p + p {
            margin-top: 30px;
        }
    }
    .second_chapter {
        p + p {
            margin-top: 30px;
        }
    }
    .third_chapter {
        p + p {
            margin-top: 30px;
        }
    }
    p {
        letter-spacing: 1px;
    }
    .first_chapter,
    .second_chapter,
    .third_chapter {
        margin-bottom: 70px;
    }
    .fouth_chapter {
        margin-bottom: 90px;
        p {
            letter-spacing: 1.6px;
        };
    }
    .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        .footer_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 21px;
        }
    }
    .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 48px;
    }
    footer {
        background-color: $background_color;
        height: 410px;
        padding-top: 50px;
    }
}


@media screen and (max-width: 320px) {
    .container {
        width: max(90%, 300px);
        margin: 0 auto;
    }
    header {
        height: 60px;
        padding-top: 18px;
        height: 1px;
    }
    h1 {
        font-size: 30px;
        line-height: 50px; 
        letter-spacing: 1.5px;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    h2{
        font-size: 31px;
        line-height: normal; 
        letter-spacing: 1.6px;
    }
    h3 {
        font-size: 26px;
        line-height: 166%;
        letter-spacing: 2.6px;
        margin-bottom: 35px;
    }
    .first_chapter {
        max-width: 700px;
        p + p {
            margin-top: 30px;
        }
    }
    .second_chapter {
        p + p {
            margin-top: 21px;
        }
    }
    .third_chapter {
        p + p {
            margin-top: 22px;
        }
    }
    p {
        font-size: 16px;
        line-height: 32px; 
        letter-spacing: 0.8px;
    }

    .main_chapter,
    .first_chapter,
    .third_chapter {
        margin-bottom: 70px;
    }
    .second_chapter {
        margin-bottom: 62px;
    }
    .fouth_chapter {
        margin-bottom: 62px;
        h3 {
            margin-bottom: 39px;
        }
        p {
            letter-spacing: 1.6px;
        };
    }
    .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 41px;
        .footer_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 21px;
        }
    }
    .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;
        a {
            font-size: 18px;
            line-height: 166%;
            letter-spacing: 1.8px;
        }
    }
    footer {
        background-color: $background_color;
        height: 421px;
        padding-top: 50px;
    }
    .copiright {
        text-align: center;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 1.5px;
    }
}
