$white_color:#FFF;
$color_black:#000;
$bg_color:#DADADA;
$border_color: #BDBDBD;

@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
        background-image: url(../images/bg-picture.svg);
        background-position: left 812px top 153px;
        background-repeat: no-repeat;
}
.container {
    width: min(90%, 789px);
    margin: 0 auto;
    &.navigation {
        width: min(90%, 1200px);
        margin: 0 auto;
    }
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.colum {
    display: grid;
    grid-template-columns: 385px 1fr;
    gap: 30px;
    margin-top: 150px;
    align-items: flex-start;
}
header {
    margin-bottom: 75px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
    .header_wrap {
        display: flex;
        align-items: flex-start;
        height: 22px;
        gap: 53px;
        .nav_wrap {
            ul {
                display: flex;
                gap: 10px;
            }
        }
    }
}
.second_wrap {
    display: flex;
    flex-direction: column;
    gap: 67px;
    .section_top {
        margin-bottom: 67px;
    }

    .chapter {
        display: flex;
        flex-direction: column;
            .text_decor {
                text-decoration-line: underline;
            }
            .grey_bg {
                background-color: $bg_color;
                padding: 6px 0;
            }
            .top_title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            }
            .line {
                width: 100px;
                height: 8px;
                background: $color_black;
                margin-top: 3px;
            }
            .title {
                display: flex;
                gap: 10px;
            }
            .chapter_text {
                display: flex;
                flex-direction: column;
                gap: 35px;
    
            }
    }
}       
.pt_sans {
    font-family: 'PT Sans', sans-serif;
}
.francoisn_regular {
    font-family: 'Francois One', sans-serif;
}
.farro_light {
    font-family: 'Farro', sans-serif;
}
.staatliches_regular {
    font-family: 'Staatliches', sans-serif;
}
.tourney_semibold {
    font-family: 'Tourney',sans-serif;
}
h1 {
    padding-top: 3px;
}
h2 {
    @extend .francoisn_regular;
    color: $color_black;
    font-size: 2.25rem;
    line-height: 3rem; 
    font-weight: 400;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
p {
    @extend .pt_sans;
    font-style: normal;
    font-weight: 400;
    color: $color_black;
    font-size: 1.75rem;
    line-height: 48px;
}
sup {
    @extend .farro_light;
    color: $color_black;
    line-height: normal;
    letter-spacing: 0.075rem;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
}
a {
    @extend .staatliches_regular;
    color: $color_black;
    font-size: 1.375rem;
    line-height: normal;
    letter-spacing: 0.04125rem;
    line-height: 11px;
}
.eng {
    @extend .tourney_semibold;
    background-color: $white_color;
    text-align: center;
    font-size: 1.375rem;
    line-height: 11px;
    letter-spacing: 0.0825rem;
}
.bold {
    @extend .pt_sans;
    font-style: normal;
    font-weight: 700;
    color: $color_black;
    font-size: 1.75rem;
    line-height: 3rem; 
}
.italic {
    @extend .pt_sans;
    font-style: italic;
    font-weight: 400;
    color: $color_black;
    font-size: 1.75rem;
    line-height: 3rem;

} 
aside {
    width: 385px;
    position: sticky;
    top: 162px;
    left: 128px;
    padding-right: 20px;
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 70px;
        .sidebar_link {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            border-bottom: 1px solid var(--Gray-4, $border_color);
            a {
                @extend .francoisn_regular;
                color: $color_black;
                font-size: 2.25rem;
                line-height: 3rem; 
                font-weight: 400;
                letter-spacing: 1.25px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }   

    }
}

