:root {
  --var-color-border:#2B81AC;
  --var-color-header-background: #39C;
  --var-color-main-border: #FFF;
  --var-color-paris: #33CCCC;
  --var-color-belgrad: #996699;
  --var-color-venice: #C24747;
  --var-color-tel-avive: #E2674A;
  --var-color-cair: #FFCC66;
  --var-color-new-york: #99CC99;
  --var-color-new-delhi: #669999;
  --var-color-san-francisco: #CC6699;
  --var-color-tokyo: #339966;
  --var-color-sydney: #666699;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border: 25px solid var(--var-color-border);
  background: var(--var-color-header-background);
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  background: var(--var-color-header-background);
}

.main_info {
  border: 2px solid var(--var-color-main-border);
}

li {
  list-style: none;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

header,
footer {
  color: var(--var-color-main-border);
}

main {
  margin-bottom: 35px;
}

main:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.4s ease;
}

.item .city {
  text-align: center;
  color: var(--var-color-main-border);
  font-family: Lucida Sans Unicode;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 26px;
  margin-bottom: 9px;
}

.item .icon {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: Lucida Sans Unicode;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 31px;
}

.icon i.wi {
  color: rgba(255, 255, 255, 0.7);
  font-size: 44px;
  vertical-align: middle;
}

.title {
  color: var(--var-color-main-border);
  font-family: Weather Icons;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 35px;
  height: 34px;
  flex-shrink: 0;
}

.lisbon {
  width: 50%;
  border: 2px solid #FFF;
  background: var(--var-color-header-background);
}

.paris {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-paris);
}

.belgrade {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-belgrad);
}

.venice {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-venice);
}

.tel-avive {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-tel-avive);
}

.cair {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-cair);
}

.new-york {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-new-york);
}

.new-delhi {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-new-delhi);
}

.san-francisco {
  width: 50%;
  border: 2px solid #FFF;
  background: var(--var-color-san-francisco);
}

.tokyo {
  width: 25%;
  border: 2px solid #FFF;
  background: var(--var-color-tokyo);
}

.main_info .sydney {
  width: 100%;
  border: 2px solid #FFF;
  background: var(--var-color-sydney);
}

.temp_sydney {
  padding: 0 525px 0 532px;
}

.main_info ul li {
  display: inline-block;
  color: var(--var-color-main-border);
}

div.main_info {
  font-size: 0;
}

div.main_info ul li {
  font-size: 22px;
}

.footer_title {
  margin-bottom: 95px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2px;
}

.header_title h1 {
  font-size: 21px;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-right: 5px;
}

li:active {
  opacity: 0.7;
}