/* roboto-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../roboto/roboto-v30-cyrillic-ext_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../roboto/roboto-v30-cyrillic-ext_latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../inter/inter-v13-cyrillic-ext_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../inter/inter-v13-cyrillic-ext_latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: min(90%, 570px);
  margin: 0 auto;
  padding: 35px 34px 16px 34px;
  background-color: #FFF;
}

body {
  font-family: "Roboto" sans-serif;
  background: #F7F7F7;
}

.roboto, .politic, .button_row .btn, .name .name_row, label, h1 {
  font-family: "Roboto" sans-serif;
}

.inter {
  font-family: "Inter" sans-serif;
}

h1 {
  color: #1C1C1C;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

span {
  margin: 0 5px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}
.name .name_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #545454;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  width: 245px;
}

.mail_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 21px;
}

.gender_row {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 21px;
}
.gender_row input[type=radio] {
  margin-right: 8px;
  height: auto;
}

.country_wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.country_wrap .country_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.country_wrap .city_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 245px;
}

.button_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 22px;
  background-color: #007BFF;
}
.button_row .btn {
  border: none;
  background-color: #007BFF;
  color: #FFF;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  width: 500px;
  height: 38px;
}

.politic {
  width: 410px;
  height: 36px;
  flex-shrink: 0;
  color: #969696;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0 79px 20px 81px;
}

.line {
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  height: 22px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}

input {
  height: 38px;
}

select {
  height: 38px;
  width: 245px;
}