/* roboto-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v30-cyrillic-ext_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v30-cyrillic-ext_latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/inter-v13-cyrillic-ext_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter/inter-v13-cyrillic-ext_latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(90%, 1170px);
  margin: 70px auto;
}
.container .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.container .wrap .first_form {
  background-color: #FFF;
  padding: 35px 36px 16px 33px;
}
.container .wrap .second_form {
  background-color: #FFF;
  padding: 35px 34px 104px 36px;
}

body {
  font-family: "Roboto" sans-serif;
  background: #E4E4E4;
}

.roboto, .footer_foto .footer_btn, .link a, .link .link_name, .politic, .button_row .btn, .form_wrap .form_row, span, p, label, h2 {
  font-family: "Roboto", sans-serif;
}

.inter, .politic a, input,
select {
  font-family: "Inter", sans-serif;
}

h2 {
  color: #1C1C1C;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

label {
  color: #545454;
  font-size: 15px;
  line-height: 22px;
  /* 146.667% */
  letter-spacing: -0.2px;
}

input,
select {
  color: #545454;
  font-size: 15px;
  line-height: 22px;
  padding: 7px 10px;
  appearance: none;
  border: 1px solid #E4E4E4;
  background: #fff;
  border-radius: 6px;
  letter-spacing: -0.2px;
}

select {
  background-image: url(../images/Arrow.png);
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
}

p {
  color: #969696;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
}

span {
  color: #969696;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  padding: 0 4px;
}

option {
  color: #545454;
}

.form_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.form_wrap .form_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #545454;
  letter-spacing: -0.2px;
  width: 50%;
}

.mail_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}

.gender_row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  /* I have a problem with create 'before element'. It is not working */
}
.gender_row input[type=radio] {
  appearance: auto;
  margin-right: 11px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  background-color: #007BFF;
  cursor: pointer;
  position: relative;
}
.gender_row input[type=radio]::before {
  width: 8px;
  height: 8px;
  border: 1px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 5px solid #007BFF;
}

.country_wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.country_wrap .country_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
}
.country_wrap .city_row {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
}

.button_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  background-color: #007BFF;
  padding: 6px 10px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  cursor: pointer;
}
.button_row .btn {
  font-size: 15px;
  line-height: 22px;
  border: none;
  background-color: transparent;
  color: #FFF;
  letter-spacing: -0.1px;
  width: 100%;
  cursor: pointer;
}

.politic {
  color: #969696;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0 57px 20px 59px;
}
.politic a {
  color: #007BFF;
  text-decoration: none;
}

.line {
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
  margin-bottom: 21px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.link .link_name {
  color: #545454;
  text-align: right;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.link a {
  color: #007BFF;
  text-decoration: none;
  color: #007BFF;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  cursor: pointer;
}

.profil_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.profil_wrap .foto_form {
  margin-right: 20px;
}
.profil_wrap .button_wrap .profil_file {
  position: relative;
}
.profil_wrap .button_wrap .profil_file .profil_search {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.profil_wrap .button_wrap .profil_foto {
  width: 30px;
  height: 30px;
  background-image: url(../images/Trash.png);
  background-repeat: no-repeat;
  background-position: right 6px top 50%;
  vertical-align: sub;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}
.profil_wrap .button_wrap .profil_foto:hover {
  background-color: #cceffb;
}
.profil_wrap .button_wrap .profil_file {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
}

.footer_foto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007BFF;
  padding: 7px 10px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  width: calc(50% - 100px);
  cursor: pointer;
}
.footer_foto .footer_btn {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: transparent;
  color: #FFF;
  border: none;
  width: 100%;
  cursor: pointer;
}

a:hover {
  color: #58eb58;
}

.button_row:hover {
  border: 1px solid #007BFF;
  color: #007BFF;
  background-color: #FFF;
}

.button_row:hover .btn {
  color: #007BFF;
}

.footer_foto:hover {
  border: 1px solid #007BFF;
  color: #007BFF;
  background-color: #FFF;
}

.footer_foto:hover .footer_btn {
  color: #007BFF;
}