/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 20px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: calc($hamburger-layer-height / -2);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v26-cyrillic-ext_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/montserrat-v26-cyrillic-ext_latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/montserrat-v26-cyrillic-ext_latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v26-cyrillic-ext_latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v20-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  object-fit: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2F281E;
  background-color: #FFF;
}

.montserrat, .mobile_button button, .form .text_end, .footer_service h4, .footer_link a, h4, .market_list h3, .design_list h3, .product_list .product_icon h3, .about_info .about_text, .about_title, .sign_in button,
.sign_up button, .nav_link a, p, h2 {
  font-family: "Montserrat", sans-serif;
}

.poppins, .footer_btn button, .product_button button, .main_button button {
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

li {
  list-style: none;
}

h2 {
  color: #2F281E;
  font-size: 2.25rem;
}

p {
  color: #544837;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
}

header {
  height: 80px;
  margin-bottom: 52px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.header_top .hamburger {
  display: none;
}

.nav_link {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.nav_link a {
  color: #2F281E;
  text-decoration: none;
  cursor: pointer;
}
.nav_link a:hover {
  color: #F90;
}

.header_button {
  display: flex;
  gap: 32px;
}

.sign_in,
.sign_up {
  vertical-align: top;
}
.sign_in button,
.sign_up button {
  display: inline-block;
  max-width: 110px;
  height: 46px;
  padding: 13px 25px;
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #F90;
}
.sign_in .sign_btn,
.sign_up .sign_btn {
  padding: 13px 21px;
}

.about_info {
  max-width: 500px;
}

.about_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.about_title {
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
}

.about_info .about_text {
  color: #544837;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 27px;
}

.main_button button {
  display: inline-block;
  height: 50px;
  padding: 13px 42px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #F90;
  color: #FFF;
}

.product_title {
  margin-bottom: 104px;
}
.product_title h2 {
  text-align: center;
  margin-bottom: 50px;
}
.product_title .back_wrap {
  background: url(../images/bg.svg) 50% bottom no-repeat;
  padding-bottom: 74px;
}

.product_list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 70px;
}
.product_list .product_icon {
  text-align: start;
  max-width: 270px;
}
.product_list .product_icon .first_product {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  padding: 16px 18px 16px 20px;
  border: 1px solid #FFF;
  border-radius: 15px;
  background: #7752BE;
}
.product_list .product_icon .second_product {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  padding: 16px;
  border: 1px solid #FFF;
  border-radius: 15px;
  background: #FAB005;
}
.product_list .product_icon .third_product {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  padding: 16px 17px;
  border: 1px solid #FFF;
  border-radius: 15px;
  background: #F03E3D;
}
.product_list .product_icon .fouth_product {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  padding: 16px 18px;
  border: 1px solid #FFF;
  border-radius: 15px;
  background: #4DADF7;
}
.product_list .product_icon h3 {
  color: #2F281E;
  font-size: 1.34rem;
  margin-bottom: 16px;
}

.product_button {
  text-align: center;
}
.product_button button {
  display: inline-block;
  height: 50px;
  padding: 13px 42px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #F90;
  color: #FFF;
}

.design_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.design_part {
  max-width: 525px;
}
.design_part .design_title {
  margin-bottom: 41px;
}
.design_part .design_title h2 {
  margin-bottom: 20px;
}

.design_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.design_list h3 {
  color: #2F281E;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 10px;
}

.design_foto img {
  width: 100%;
  vertical-align: top;
}

.nomain_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.nomain_info {
  max-width: 505px;
}

.nomain_title {
  margin-bottom: 40px;
}
.nomain_title h2 {
  margin-bottom: 20px;
}

.nomain_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nomain_list .nomain_foto {
  display: flex;
  align-items: center;
  gap: 30px;
}

.market_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 170px;
}

.market_part {
  max-width: 486px;
}
.market_part .market_title {
  margin-bottom: 40px;
}
.market_part .market_title h2 {
  margin-bottom: 13px;
}

.market_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.market_list h3 {
  color: #2F281E;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 12px;
}

.market_foto img {
  width: 100%;
  vertical-align: top;
}

h4 {
  color: #2F281E;
  font-size: 1.26rem;
  line-height: 1.88rem;
}

.nav_footer {
  margin-bottom: 70px;
}

.footer_list {
  display: flex;
  gap: 130px;
}
.footer_list .footer_logo {
  max-width: 200px;
}

.footer_wrap .link_title {
  margin-bottom: 32px;
}

.footer_link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_link a {
  color: #544837;
  font-size: 1rem;
  line-height: 1.625rem;
  text-decoration: none;
}

.footer_end {
  max-width: 340px;
}

.footer_service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer_service h4 {
  max-width: 280px;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.form {
  position: relative;
}
.form input {
  width: 340px;
  height: 50px;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}
.form .text_end {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #BCD0E5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_btn {
  vertical-align: top;
}
.footer_btn button {
  height: 50px;
  padding: 13px 38px;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #F90;
  color: #FFF;
}

button:hover {
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #2F281E;
  background-color: #FFF;
  cursor: pointer;
}

a:hover {
  color: #F90;
}

@media screen and (max-width: 1280px) {
  .about_info {
    max-width: 450px;
  }
  .about_info .about_title {
    font-size: 35px;
  }
  .about_info .about_text {
    font-size: 16px;
  }

  h2 {
    font-size: 2rem;
  }

  .product_list {
    gap: 76px;
  }
  .product_list .product_icon {
    text-align: start;
    width: 240px;
  }

  .nav_footer {
    padding-top: 20px;
  }
}
.footer_service h4 {
  max-width: 340px;
  font-size: 21px;
  line-height: 30px;
}

@media screen and (max-width: 980px) {
  .sign_in button,
.sign_up button {
    max-width: 96px;
    height: 40px;
    padding: 8px 16px;
  }

  .sign_up .sign_btn {
    padding: 8px 12px;
  }

  .about_list,
.market_info,
.design_content,
.market_info {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .nomain_content {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    gap: 30px;
  }

  .product_title {
    max-width: 800px;
  }

  .design_part {
    max-width: 700px;
  }

  .product_icon {
    text-align: start;
    width: 195px;
  }

  .about_info {
    max-width: 700px;
    text-align: center;
  }

  .nomain_content .nomain_info {
    max-width: 700px;
    text-align: center;
  }

  .design_part {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .design_part .design_list {
    display: flex;
    align-items: stretch;
  }

  .market_part {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .market_part .market_list {
    display: flex;
    align-items: stretch;
  }

  .product_title {
    max-width: 880px;
  }
  .product_title .product_list {
    gap: 30px;
  }
  .product_title .product_list .product_icon {
    text-align: start;
    width: 200px;
  }

  .product_list .product_icon h3 {
    color: #2F281E;
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  p {
    color: #544837;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .nav_footer .footer_list {
    display: flex;
    gap: 68px;
  }

  h4 {
    color: #2F281E;
    font-size: 1rem;
    line-height: 1.88rem;
  }

  .footer_link {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer_link a {
    color: #544837;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-decoration: none;
  }

  .footer_service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }
  .footer_service h4 {
    font-size: 19px;
    line-height: 27px;
  }

  .form input {
    width: 265px;
    height: 40px;
    padding: 0 10px;
  }
  .form .text_end {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .footer_wrap .link_title {
    margin-bottom: 10px;
  }

  .footer_btn button {
    min-width: 134px;
    height: 44px;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 1rem;
  }

  .nav_footer,
.header_top {
    max-width: 980px;
  }
}
@media screen and (max-width: 770px) {
  .header_top {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  .header_top .logo {
    max-width: 150px;
  }
  .header_top .logo img {
    max-width: 150px;
  }

  .nav_top ul {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  .nav_top ul a {
    font-size: 14px;
    line-height: 28px;
  }

  .header_button {
    display: flex;
    gap: 5px;
  }

  .sign_in button,
.sign_up button {
    min-width: 77px;
    height: 40px;
    padding: 6px 8px;
    font-size: 0.9rem;
  }

  .sign_up .sign_btn {
    padding: 6px 8px;
  }

  .product_title .product_list {
    gap: 10px;
    justify-content: space-between;
  }

  .design_content .design_part {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .design_content .design_part .design_list ul {
    display: flex;
    align-items: stretch;
  }

  .market_info .market_part {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .market_info .market_part .market_list ul {
    display: flex;
    align-items: stretch;
  }

  .nav_footer .footer_list {
    display: flex;
    gap: 26px;
    margin-bottom: 20px;
  }
  .nav_footer .footer_list .footer_logo img {
    max-width: 160px;
  }
  .nav_footer .footer_service .footer_btn button {
    max-width: 180px;
    height: 36px;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 0.9rem;
  }
  .nav_footer .footer_service h4 {
    max-width: 280px;
    font-size: 16px;
  }

  .back_wrap {
    margin-left: 1px;
  }

  .product_title .product_list {
    margin-bottom: 40px;
  }
  .product_title .product_list .product_icon {
    text-align: start;
    max-width: 134px;
  }
  .product_title .product_list .product_icon h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 430px) {
  .header_top {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 15px 0;
  }
  .header_top .hamburger {
    display: block;
  }
  .header_top .logo img {
    max-width: 150px;
  }
  .header_top .nav_top {
    display: none;
  }
  .header_top .header_button {
    display: none;
  }

  .about_list {
    margin-bottom: 70px;
  }
  .about_list .about_foto img {
    max-width: 380px;
  }

  .about_info .about_title {
    font-size: 30px;
  }
  .about_info .main_button button {
    display: inline-block;
    height: 34px;
    padding: 4px 30px;
    font-size: 14px;
  }

  .design_content {
    margin-bottom: 60px;
  }
  .design_content .design_foto img {
    max-width: 380px;
  }

  .nomain_content {
    margin-bottom: 60px;
  }
  .nomain_content .nomain_top img {
    max-width: 380px;
  }

  .market_info {
    margin-bottom: 60px;
  }
  .market_info .market_foto img {
    max-width: 380px;
  }

  .product_title {
    margin-bottom: 60px;
  }
  .product_title .product_list {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .product_title .product_list .product_icon {
    text-align: start;
    min-width: 302px;
  }
  .product_title .product_button .product_btn {
    display: inline-block;
    height: 34px;
    padding: 4px 30px;
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .nav_footer .footer_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav_footer .footer_list .footer_logo {
    max-width: 390px;
    text-align: center;
    margin-bottom: 30px;
  }
  .nav_footer .footer_list h4 {
    max-width: 390px;
    font-size: 18px;
    text-align: center;
  }

  .footer_wrap .link_title {
    margin-bottom: 15px;
    text-align: center;
  }
  .footer_wrap .footer_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer_wrap .footer_link a {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .footer_end {
    max-width: 390px;
  }
  .footer_end .form input {
    min-width: 390px;
    height: 32px;
    padding: 0 10px;
  }
  .footer_end .form .text_end {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 13px;
  }
}
@media screen and (max-width: 390px) {
  main .container .header_top {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 15px 0;
  }

  .design_content {
    margin-bottom: 60px;
  }
  .design_content .design_foto img {
    max-width: 330px;
  }

  .nomain_content {
    margin-bottom: 60px;
  }
  .nomain_content .nomain_top img {
    max-width: 330px;
  }

  .market_info {
    margin-bottom: 60px;
  }
  .market_info .market_foto img {
    max-width: 330px;
  }

  .about_list .about_foto img {
    max-width: 330px;
  }

  .nav_footer {
    padding-top: 20px;
  }
  .nav_footer .footer_wrap .link_title {
    margin-bottom: 15px;
  }
  .nav_footer .footer_wrap .footer_link {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .nav_footer .footer_wrap .footer_btn button {
    max-width: 180px;
    height: 28px;
    padding: 6px 6px;
    font-size: 0.7rem;
  }

  .nav_footer .footer_service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .footer_end {
    max-width: 390px;
  }
  .footer_end .form input {
    min-width: 350px;
    height: 32px;
    padding: 0 10px;
  }
  .footer_end .form .text_end {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 13px;
  }
}
@media screen and (max-width: 365px) {
  .nav_footer {
    padding-top: 20px;
  }
  .nav_footer .footer_wrap .link_title {
    margin-bottom: 15px;
  }
  .nav_footer .footer_wrap .footer_link {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .nav_footer .footer_wrap .footer_btn button {
    max-width: 180px;
    height: 28px;
    padding: 6px 6px;
    font-size: 0.7rem;
  }

  .nav_footer .footer_service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .footer_end {
    max-width: 390px;
  }
  .footer_end .form input {
    min-width: 328px;
    height: 32px;
    padding: 0 10px;
  }
  .footer_end .form .text_end {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 13px;
  }
}
.page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 1000vw;
  height: 1000vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.menu-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 1000vh;
  background-color: #FAB005;
  z-index: 1001;
  box-shadow: 0 0 10px 10px #BCD0E5;
  transform: translateX(-120%);
  transition: all 0.4s ease;
}
.menu-panel .mobile_nav_top {
  overflow-y: auto;
  padding-top: 25px;
}

.panel_top {
  display: flex;
  gap: 78px;
  border-bottom: 1px solid #BCD0E5;
  padding-top: 20px;
}
.panel_top .mobile_logo {
  margin: 25px 0 50px 25px;
}
.panel_top .mobile_logo img {
  max-width: 150px;
}
.panel_top .hamburger-wrap {
  padding-top: 21px;
}

.mobile_foto {
  text-align: center;
  padding: 100px 30px;
}
.mobile_foto img {
  max-width: 250px;
}

.mobile_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.mobile_button button {
  display: inline-block;
  max-width: 100px;
  height: 40px;
  padding: 10px 22px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  background-color: #BCD0E5;
  color: #2F281E;
}
.mobile_button button:hover {
  background-color: #FFF;
  color: #7752BE;
}

.mobile_nav_link {
  margin-bottom: 80px;
}
.mobile_nav_link a {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 10px 30px;
  text-decoration: none;
  color: #7752BE;
  background-color: transparent;
}
.mobile_nav_link li:hover {
  background-color: #FFF;
}
.mobile_nav_link a:hover {
  color: #4DADF7;
}

.open_mobile_menu .page_overlay {
  opacity: 1;
  visibility: visible;
}
.open_mobile_menu .menu-panel {
  transform: translateX(0);
}