.container {
    width: min(90%, 970px);
    margin: 0 auto;

}
.footer-content {
    width: 350px;
    margin: 0 auto;

}
.list_top {
    display: flex; 
    gap: 40px;
}

li {
    list-style-type: none;
}
.link_end {
    display: flex;
    width: 310px;
    height: 40px;
    gap: 50px;
}
.button {
    display: flex;
    border-radius: 22px;
    background:#070707;
    color: #FFF;
}
