.accordion {
    margin-bottom: 100px;
    &-list {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: $color_primar;

        li {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          background-color: $other_color;
          padding: 20px;
          border: 1px solid $secondary-white;
          border-radius: 5px;
          cursor: pointer;
          
            &.active {
                h3 {
                    &:after {
                        transform: rotate(45deg);
                        background-color: $color_wt;
                    }
                }
            }
            
            h3 {
                font-weight: 700;
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                font-size: 15px;
                cursor: pointer;
                
                &:after {
                    content:"";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #fff;
                    right: 0;
                    top: 35%;
                    color: $secondary-white;
                    transition: all 0.3s ease-in-out;
                    font-size: 18px;
                }
            }
          
            .answer {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                cursor: pointer;
                
                p {
                position: relative;
                display: block;
                font-weight: 300;
                padding: 10px 0 0 0;
                cursor: pointer;
                line-height: 150%;
                margin: 0 0 15px 0;
                font-size: 14px;
            }
          }
        }
        li + li {
            margin-top: 15px;
        }
    }
}

@import 'vars';