footer{
    background-image: url('../images/Rectanglegallery.jpeg' );
    aspect-ratio: 1440/300;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.features {
    &-descr{
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 80px 20px;
    }
    &-time {
        h3 {
            margin-bottom: 10px;
        }
    }
    &-pic {
        margin-bottom: 50px;
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 100px;
        margin-top: 90px;
    }
    
    &-mention {
        text-align: center;
        h4 {
            margin-bottom: 15px;
        }
    }
    .our-title, 
    h4 {
        color: $color_primar;  
    }
}

.copiright {
    text-align: center;
    font-size: 10px;
    padding: 20px;
}

@import 'vars';