header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(270deg, rgba(72, 129, 176, 0.75) 0, rgba(73, 109, 124, 0.77) 20%, #c5c5cb73 60%), 0 0;    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .hamburger {
        display: none;
    }
}

.nav_top {
    display: flex;
    align-items: center;
    color: $black_text;
    gap: 110px;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 93px;
    a {
        color: $color_wt;
    }
}

.nav_choise {
    a {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        &:hover {
            color: $color-hover-button;
        }
        &:focus {
            color: $color-hover-button;
        }
    }
}

.header_links {
    display: flex;
    gap: 20px;
    img {
        &:hover {
            filter: brightness(0) saturate(100%) invert(63%) sepia(89%) saturate(379%) hue-rotate(112deg) brightness(84%) contrast(112%);        
        }
        &:focus {
            filter: brightness(0) saturate(100%) invert(63%) sepia(89%) saturate(379%) hue-rotate(112deg) brightness(84%) contrast(112%);        
        }
    }
}

@import 'vars';