main {
    flex-grow: 1;
}

.header-content {
    background-image: url('../images/RectangleBG.jpeg' );
    aspect-ratio: 1440/790;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 130px;
}

.toppage {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 300px;
    color: $color_wt;
    &-content {
        width: 42%;
    }
    &-subtitle{
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
    &-line {
        position: relative;
        padding-left: 16px;
        &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 26px;
            border: 1px solid $color_primar;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
    &-info {
        width: 11.25%;
        li {
            padding: 20px 6px;
            border-radius: 24px;
            backdrop-filter: blur(30px);
            background: $bg-button;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
        }
        li + li {
            margin-top: 30px;
        }
    }
}

.shares {
    background-image: url('../images/MSMC_Wood_Illustration.jpeg' );
    aspect-ratio: 1440/750;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-info {
        display: flex;
        align-items: center;
        gap: 60px;
    }
    .lSSlideOuter .lSPager.lSpg {
        display: none;
    }    
}

.element {
    .lSSlideOuter .lSPager.lSpg {
        display: none;
      
    }
    h2 {
        padding: 70px 0 20px;
    }
    p {
        color: $color_wt;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 30px;
    }
}

.choise {
    position: relative;
    &-descr {
        color: $color_wt;
        background-color: $secondary-bg;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 15px 25px;
        border-radius: 20px;
    
        h3, p {
            text-align: left;
            letter-spacing: 0%;
            margin-bottom: 22px;
        } 
    } 
    &-link {
        text-align: center;   
    }
}

.my-choice {
    img {
        border-radius: 24px;
    }
}

.custom-el {
    .arrows{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
            &:hover {
                filter: brightness(0) saturate(100%) invert(53%) sepia(99%) saturate(332%) hue-rotate(128deg) brightness(91%) contrast(87%);            }
            &:focus {
                filter: brightness(0) saturate(100%) invert(53%) sepia(99%) saturate(332%) hue-rotate(128deg) brightness(91%) contrast(87%);            }
        }
    }
}

.trainer {
    img {
        border-radius: 24px;
    }
}

.job-descr {
    position: relative;
}

.trainer {
    &-info {
        width: 100%;
        height: 25%;
        border-radius: 20px;
        background-color:$secondary-button-bg;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px 10px;
    }
    &-name {
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }
    &-job {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.about {
    background-image: url('../images/MSMC_Wood_Illustration.jpeg' );
    aspect-ratio: 1440/790;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        text-align: center;
        h2 {
            padding: 50px 0 20px;
        }
        .information {
            padding-bottom: 50px;
        }
    }
    &-descr {
        display: grid;
        grid-template-columns: repeat(2, 44%);
        grid-template-rows: repeat(2, 260px);
        gap: 50px;
        padding-bottom: 100px;
        justify-content: center;
    }
    &-info {
        padding: 24px 40px;
        border: 1px solid $color_wt;
        h3 {
            color: $color_primar;
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
    .numbers {
        margin-bottom: 35px;
    }
}

.gym {
    background-image: url('../images/RecBG3.jpeg' );
    aspect-ratio: 1440/790;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title{
        width: 50%;
    }
    h1 {
        color: $color_wt;
        padding-top: 150px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
    }
    p + p {
        margin-top: 20px;
    }
}

.review {
    margin-bottom: 100px;
    &-descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0; 
    }
    &-info{
        width: 60%;
        h3 {
            padding-bottom: 10px;
        }
        p {
            font-size: 16px; 
        }
    }
}

.revers {
    flex-direction: row-reverse;
}

.sec-pic {
    width: 35%;
}

.card {
    margin-bottom: 100px;
    &-subscribe {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: repeat(2, 180px);
        gap: 30px;
        justify-content: center;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $color_wt;
        border-radius: 20px;
        background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.2),rgba(181, 181, 181, 0.2) 100%);
        &:hover {
            transform: scale(1.1);
        }
        h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
    &-pic {
        margin-bottom: 14px;
        img {
            width: auto;
        }
    }
}

.benefit {
    &-subscribe {
        display: grid;
        grid-template-columns: repeat(4, 22%);
        grid-template-rows: repeat(1, 210px);
        gap: 40px;
        justify-content: center;
        margin-bottom: 80px;
    }
    &-item {
        transform: rotate(-20deg);
        background:$other_color;
        padding: 10px;
        border-radius: 10px;
        &:hover {
            transform: rotate(0);
            background: rgba(132, 130, 130, 0.4);

        }
    }
    &-pic {
        img {
            width: 35%;
            padding-bottom: 5px;
        }
    }
    h2 {
        padding-bottom: 100px;
    }
    h3 {
        font-family: 'Dela Gothic One', sans-serif;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}

.third {
    background-image: url('../images/RecBG2.jpeg' );
    aspect-ratio: 1440/790;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        width: 60%;
        padding: 280px 0 0 70px;
        text-align: left;
        h1 {
            color: $color-hover-button;
        }
        p {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0%;
        }
        p + p {
            margin-top: 20px;
        }
    }
    &-shade {
        background: $title_bg;
        border-radius: 10px;
        padding: 10px;
    }
}

.servises {
    background-image: url('../images/MSMC_Wood_Illustration.jpeg' );
    aspect-ratio: 1440/790;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-descr {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, 200px);
        gap: 30px;
        justify-content: center;
    }
    h2 {
        padding: 140px 0 80px;
    }
}

.facilities {
    display: flex;
    align-items: center;
    gap: 15px;
    background: $small_bg;
    border-radius: 10px;
    padding: 10px 15px;
    &-pic {
        img {
            width: 100%;
            height: 80%;
            border-radius: 20px;
        }
    }
    &-info {
        width: 60%;
        h3 {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
            color: $color_primar;
        }
        p {
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
}

.membership {
    margin-bottom: 80px;
    &-descr {
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: repeat(1, 440px);
        justify-content: center;
        gap: 60px;
    }
    &-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px;
        border-bottom: 1px solid $other_color;
        img {
            width: 33px;
            height: 30px;
            margin-right: 7px;
        }
    }
    h4 {
        font-size: 24px;
    }
    &-info {
        border: 1px solid $other_color;
        text-align: center;
        background: linear-gradient(180deg, rgba(255, 254, 254, 0.25), rgba(181, 181, 181, .25) 100%);
    }
    &-subtitle {
        background-color: $other_color;
    }
    .price {
        border-bottom: 1px solid $other_color;
        padding: 10px;
        &-title, 
        &-subtitle {
            font-size: 16px;
        }
        &-subtitle {
            margin-top: 10px;
        }
    }
    .my-active {
        color: $color_active;
    }
    .description {
        font-size: 15px;
        padding: 10px 0;
        .myblue {
            color: $color_myblue;
        }
        li {
            padding: 10px;
        }
    }
}

.follow {
    background-image: url('../images/ContactsBG.jpeg' );
    aspect-ratio: 1440/500;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-descr {
        text-align: center;
        padding: 40px 0;
    }
    &-number {
        font-size: 70px;
        line-height: 30px;
        margin: 40px 0 70px;
        a {
            color: $color-hover-button;
        }
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
    p + p {
        margin-top: 20px;
    }
}

@import 'vars';