.popup:target .popup-content {
    opacity: 1;
    transform: translate(0, 0);
}

.next-popup:target .next-bg {
    opacity: 1;
    transform: translate(0, 0);
}
.popup,
.next-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.95);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .6s ease;
    z-index: 1000;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &-area {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &-description{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &-content {
        background-color: $color_wt;
        color: $black_text;
        max-width: 1000px;
        padding: 30px;
        position: relative;
        transition: all .6s ease;
        opacity: 0;
        transform: translate(0, -100%);
        
    }
    &-closed {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        color: $black_text;
    }
    &-title {
        font-size: 40px;
        margin: 0 0 10px 0;
        text-align: center;
    }
    &-text{
        font-size: 20px;
    }
}

.next-popup {
    .next-bg {
        transition: all .6s ease;
        opacity: 0;
        transform: translate(0, -100%);
    }
    .popup-closed {
        position: absolute;
        top: 10px;
        right: 20px;
        color: $color_wt;
    }
    .price-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .view-bg {
        position: relative;
        width: 50%;
        background-color: $secondary-bg;
    }
    .next-btn {
       .btn {
        width: 50%;
        font-size: 20px;
        font-weight: 600;
       }
    }
}

@import 'vars';