$color_wt: #fff;
$black_text:#000;
$secondary-bg: rgba(45, 99, 95, 0.97);
$color_primar:rgb(16, 146, 140);
$color_secondary:rgb(56, 164, 158);
$color_bg_next:rgb(1, 27, 25);
$bg-button:rgba(255, 255, 255, 0.2);
$color-hover-button:rgb(10, 210, 160);
$secondary-white: rgb(253, 250, 254);
$secondary-button-bg:rgba(40, 176, 169, 0.2);
$other_color: rgba(132, 130, 130, 0.8);
$color_active:rgb(161, 246, 94);
$color_myblue:rgb(45, 170, 242);
$small_bg:rgba(148, 146, 146, 0.3);
$title_bg:rgba(0, 0, 0, 0.3);
$panel_bg: rgb(23, 99, 95);