@import 'vars';

@import 'hamburger';

@import 'fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a, button {
    transition: all .2s ease;
    text-decoration: none;
    color: $color_wt;
}
.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}
body {
    color: $secondary-white;
    background-color:$color_bg_next;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 54px;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: left;
    color: $color_primar;
    padding-bottom: 70px;
}

h2 {
    color: $color_wt;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    padding: 80px 0 50px;
}
h3 {
    color: $secondary-white;
    font-size: 30px;
    line-height: 48px;
}
p {
    color: $secondary-white;
    font-size: 13px;
    line-height: 25px;
}

.btn,
.my-link{
    padding: 10px 30px;
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgb(209, 209, 206),rgba(207, 207, 196, 0) 100%);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    &:hover {
        background:$color_primar;
        border: 2px solid $color_wt;
    }
    &:active {
        background:$secondary-bg;
        border: 2px solid $color_wt;
    }
}

@import 'header';

@import 'main';

@import 'gallery';

@import 'map';

@import 'form';

@import 'video';

@import 'accordion';

@import 'footer';

@import 'popup';

@import 'hamburger-menu';

@import 'response';